<!DOCTYPE html>
<html lang="en">
    <%- include('./head') -%>   
<body>
    <%- body -%>
</body>
    <!-- Javascript -->          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/fontawesome/js/all.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script>
    
    <!-- FontAwesome JS-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/assets/plugins/jQuery/sweetAlert.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 

    <!-- Charts JS -->
    <script src="/assets/plugins/chart.js/chart.min.js"></script> 
    <script src="/assets/js/index-charts.js"></script> 
    
    <!-- Page Specific JS -->
    <script src="/assets/js/app.js"></script>  

    <!-- Toaster files -->
    
    <script src="/assets/toastr/toastr.js.map"></script> 
    <script src="/assets/toastr/toastr.min.js"></script>  
     


    <!-- Our Pages Path -->
    <!-- <script src="js/payroll.js"></script> -->
    <!-- <script src="/js/employee_show.js" ></script>    -->
    <!-- <script src="/js/payroll_show.js"></script> -->
    <!-- <script src="js/employee_registration.js"></script>  -->
    <!-- <script src="js/document.js"></script>  -->
    <!-- <script src="js/login.js"></script> -->

</html>